.character-selector-container {
    display: flex;
    flex-direction: column;
    .character-selector {
        color: white;
        position: relative;
        flex: 1;
        //background: black;
        overflow: hidden;
        box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.4);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50px;
        img {
            &.character-emblem {
                height: 75%;
                max-height: 96px;
                max-width: 96px;
                left: 5%;
                @include vertical-align();
                position: absolute;
                //opacity: 0.6;
            }
            &.character-emblem-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                display: none;
                //filter: blur(4px);
            }
        }
        .character-text {
            display: inline-block;
            font-size: 17px;
            right: 0.7em;
            text-align: center;
            @include vertical-align();
            position: absolute;
            right: 2em;
            //top: 12.5%;
        }
        .character-level {
            font-size: 35px;
            color: $yellow;
        }
        &.Titan {
            background-image: linear-gradient(to left, #000 0, rgba(0,0,0,0) 200px, rgba(0,0,0,0) 100%), url('../assets/images/characters/titan_bg.jpg');
        }
        &.Warlock {
            background-image: linear-gradient(to left, #000 0, rgba(0,0,0,0) 200px, rgba(0,0,0,0) 100%), url('../assets/images/characters/warlock_bg.jpg');
        }
        &.Hunter {
            background-image: linear-gradient(to left, #000 0, rgba(0,0,0,0) 200px, rgba(0,0,0,0) 100%), url('../assets/images/characters/hunter_bg.jpg');
        }
    
    }
    .character-details {
        flex: 1;
        transition: all 0.4s ease-in-out;
        flex-grow: .00001;
        overflow: hidden;
        color: white;
        background: rgb(30,36,43);
        &.selected {
            padding: 2em;
            flex-grow: 5;
        }
    }
}
