<div class="container-fluid login">
    <div class="col-xs-12">
        <h1>Destiny Game Plan</h1>
        <h2>Load your characters</h2>
        <form class="form" role="form">
            <div class="form-group">
                <input placeholder="Gamertag / PSN ID" class="form-control" ng-model="login.displayName">
            </div>
            <div class="btn-group form-group">
                <label class="btn btn-success" ng-model="login.platform" btn-radio="'tigerxbox'">Xbox</label>
                <label class="btn btn-primary" ng-model="login.platform" btn-radio="'tigerpsn'">PSN</label>
            </div>
            <div class="btn btn-lg btn-block btn-info"  ng-click="login.submit()">Save</div>
        </form>
    </div>
</div>